{% extends 'base.html' %} {% block content %}
<h1>POST</h1>
<ul>
  {% for post in object_list %}
  <li>
    <a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a> - 
    {{ post.author.first_name }} {{ post.author.last_name }} 
    <a href="{% url 'categorys' post.category %}">{{ post.category }}</a>
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <small><a href="{% url 'update_post' post.pk %}">(Edit)</a></small>
    <small><a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
    <br />
    {% endif %}
    {% endif %} 
    
    {% comment %} {{ post.body | slice:":200" | safe }} {% endcomment %}
    {{ post.snippet }}
    
  </li>

  {% endfor %}
</ul>


{% endblock %}
